article.article
    .article__top
        img(src="assets/img/pics/wing.png", alt="Article Image" width="340" height="219")
    .article__middle
        h4.article__title Какая пленка лучше подойдет для стройматериалов?
        p.article__text На наш вопрос мы попросили ответить технического специалиста компании-партнера — Романа.
    .article__bottom
        span.article__date 21.07.2016
        span.article__link Подробнее