section.contacts
    .container.container--column.contacts__container
        h2.contacts__heading.heading Связаться с нами просто.
        .contacts__wrap
            .contacts__info
                p.contacts__text Вы можете запросить коммерческое предложение , чтобы узнать о наших ценах и условиях работы.
                a(href="#").contacts__btn Запросить коммерческое предложение
            p.contacts__text.contacts__text--adjusted Если вы еще не определились с тем, какая вам нужна продукция или хотите запросить расчет стоимости поставки — обратитесь к нам по телефону <a href="tel:74957273377">+7 495 727-33-77</a>