section.desc
    h1.desc__heading.heading Продажа специальных клейких лент с доставкой по России и СНГ
    p.desc__info Наша компания занимается оптовыми поставками и реализацией большого ассортимента специальных клейких лент. Специалисты помогут подобрать необходимый продукт для ваших задач.
    ul.desc__list
        li.desc__item Для ремонта авиационной техники
        li.desc__item Для сращивания производственных лент
        li.desc__item Для аграрной и промышленной деятельности
    .desc__options
        button.desc__btn.btn Оставить заявку
        a(href="#").desc__link Узнать больше