footer.footer
    .container.container--footer
        .footer__subscription
            p.footer__text Вы можете подписаться на наши новости, чтобы быть в курсе всех нововведенях в компании, а также полезные советы от наших редакторов.
            form.footer__form(action="#")
                .footer__form-wrap
                    input(type="email" placeholder="Ваш email" required).footer__input
                    button(type="submit").footer__btn 
                p.footer__warning Нажимая кнопку подписаться вы соглашаетесь с <a href="#">политикой обработки персональных данных</a>
            .footer__credentials
                a(href="tel:74957273377").footer__phone +7 (495) 727-33-77
                span.footer__address г. Москва, ул. 2-ая Хуторская, 38А,стр.8
        .footer__nav
            ul.footer__list.footer__list--nav
                li.footer__item
                    a(href="#").footer__link Главная
                li.footer__item
                    a(href="#").footer__link О компании
                li.footer__item
                    a(href="#").footer__link Главная
                li.footer__item
                    a(href="#").footer__link Блог
                li.footer__item
                    a(href="#").footer__link Сертификаты
                li.footer__item
                    a(href="#").footer__link Вопросы и ответы
                li.footer__item
                    a(href="#").footer__link Где купить?
                li.footer__item
                    a(href="#").footer__link Доставка
                li.footer__item
                    a(href="#").footer__link Оплата
            .footer__wrap
                h3.footer__heading
                    a(href="#") Защитная плёнка
                .footer__goods
                    ul.footer__list.footer__list--adjusted
                        li.footer__item
                            a(href="#").footer__link для металла
                        li.footer__item
                            a(href="#").footer__link для профнастила
                        li.footer__item
                            a(href="#").footer__link для ПВХ-профиля
                        li.footer__item
                            a(href="#").footer__link для ковровых покрытий
                        li.footer__item
                            a(href="#").footer__link для водостоков
                        li.footer__item
                            a(href="#").footer__link для алюминиевых профилей
                        li.footer__item
                            a(href="#").footer__link для вентфасада
                    ul.footer__list
                        li.footer__item
                            a(href="#").footer__link для реечных алюминиевых потолков
                        li.footer__item
                            a(href="#").footer__link для листовой стали
                        li.footer__item
                            a(href="#").footer__link для сэндвич-панелей
                        li.footer__item
                            a(href="#").footer__link для металлочерепицы
                        li.footer__item
                            a(href="#").footer__link для мебели
                        li.footer__item
                            a(href="#").footer__link для листового пластика
                        li.footer__item
                            a(href="#").footer__link для кабель-каналов
    .footer__bottom
        .container.footer__container
            span.footer__copyright Все права защищены. <a href="#">Политика обработки персональных данных</a>