section.info
    .container.container--column.info__container
        p.info__text Клейкие ленты – это один из самых популярных и востребованных материалов для упаковки. Она используется и в промышленности, и в грузоперевозках, и в быту. Высокая прочность, универсальность и другие эксплуатационные качества сделали ленту на клейкой основе распространенной по всему миру.
        .info__wrap
            h2.info__title Важно
            p.info__warning При выборе клейкой ленты рекомендуем обратиться к нашим специалистам. Спецификация клейких лент одного класса может отличаться и лучше подходить в узких областях, где требуется соблюсти определнную степень адгезии.