section.main
    .container.main__container
        h1.main__heading.heading Продажа специальных клейких лент с доставкой по России и СНГ
        p.main__info Наша компания занимается оптовыми поставками и реализацией большого ассортимента специальных клейких лент. Специалисты помогут подобрать необходимый продукт для ваших задач.
        ul.main__list
            li.main__item Для ремонта авиационной техники
            li.main__item Для сращивания производственных лент
            li.main__item Для аграрной и промышленной деятельности
        .main__options
            button.main__button.btn Оставить заявку
            a(href="#").main__link Узнать больше
        .main__tape
            img(src="assets/img/pics/tapes/main1.png", alt="tape").main__image
        .main__tape.main__tape--black
            img(src="assets/img/pics/tapes/main2.png", alt="tape").main__image.main__image--black
            span.main__description Водорасстворимая клейкая лента, широко применяемая в сельском хозяйстве.
    include ../sections/info.pug           