section.map
    .container.container--column
        h2.map__heading Работаем по всей России и СНГ
        a(href="#").map__trigger Список стран/городов партнеров
        .map__places
            h3.map__title СНГ
            ul.map__list
                li.map__item
                    a(href="#").map__link Азербайджан
                li.map__item
                    a(href="#").map__link Армения
                li.map__item
                    a(href="#").map__link Белоруссия
                li.map__item
                    a(href="#").map__link Казахстан
                li.map__item
                    a(href="#").map__link Кыргызстан
                li.map__item
                    a(href="#").map__link Молдавия
                li.map__item
                    a(href="#").map__link Россия
                li.map__item
                    a(href="#").map__link Таджикистан
                li.map__item
                    a(href="#").map__link Узбекистан
                li.map__item
                    a(href="#").map__link Туркменистан
            h3.map__title Европа
            ul.map__list
                li.map__item
                     a(href="#").map__link Бельгия
                li.map__item
                    a(href="#").map__link Венгрия
                li.map__item
                    a(href="#").map__link Германия
                li.map__item
                    a(href="#").map__link Греция
                li.map__item
                    a(href="#").map__link Грузия
                li.map__item
                    a(href="#").map__link Испания
                li.map__item
                    a(href="#").map__link Италия
                li.map__item
                    a(href="#").map__link Литва
                li.map__item
                    a(href="#").map__link Латвия
                li.map__item
                    a(href="#").map__link Польша 
                li.map__item
                    a(href="#").map__link Португалия
                li.map__item
                    a(href="#").map__link Румыния 
                li.map__item
                    a(href="#").map__link Словакия
                li.map__item
                    a(href="#").map__link Сербия
                li.map__item
                    a(href="#").map__link Эстония
                li.map__item
                    a(href="#").map__link Финляндия
                li.map__item
                    a(href="#").map__link Франция
                li.map__item
                    a(href="#").map__link Чехия
                li.map__item
                    a(href="#").map__link Швейцария
                li.map__item
                    a(href="#").map__link Швеция   

