section.news
    .container.container--column
        .news__wrap
            h2.news__heading Последние новости из нашего блога
            a(href="#").news__button.btn--reverse Все новости
        ul.news__list
            li.news__item
                a(href="#").news__link
                      include ../sections/article.pug                   