section.quality
    .container
        .quality__image
            img(src="assets/img/pics/wing.png", alt="airplane" width="1150" height="706")
        .quality__desc
            h2.quality__heading.title Вся наша продукция сертифицирована
            p.quality__text Качество продукции — важнейший критерий, на который обращают внимание покупатели. Мы регулярно проводим тестирования нашей продукции на соответствие всем нормам.