section.tapes
    .container
        h2.tapes__heading.heading Классификация клейких лент по области применения
    .tapes__wrap 
        span.tapes__num 01
        .tapes__image.tapes__image--typography
            img(src="assets/img/pics/tapes/1.png", alt="Для ЦБП и типографий").tapes__picture
        .container.container--column
            .tapes__container.tapes__container--typography
                h3.tapes__title.title.tapes__title--adjusted Для ЦБП и типографий
                p.tapes__text К таким лентам относятся узкоспециализированные ленты, которые используются для фиксации растений в сельском хозяйстве, при холодной сварке и сложных технологических процессах, когда требуется избавиться от клейкой ленты быстро и это возможно сделать при промывшке изделия или под действием внешних факторов.
                a(href="#").tapes__link.btn--reverse Подробнее
        .tapes__desc
            span.tapes__info Крафтовая клейкая лента для склеивания печатных листов на производстве
    .tapes__wrap
        span.tapes__num 02
        .tapes__image.tapes__image--aviation
            img(src="assets/img/pics/tapes/2.png", alt="Для авиационной промышленности").tapes__picture
        .container.container--column
            .tapes__container.tapes__container--aviation
                h3.tapes__title.title Для авиационной промышленности
                p.tapes__text К таким лентам относятся узкоспециализированные ленты, которые используются для фиксации печатных листов в типографиях, склеивании поставочных коробов и фиксации сложных элементов на производственном потоке. Такие ленты обладают любой степень сцепления и бывают не только двусторонними, но и водорасстворимыми, не теряя при этом своей прочности.
                a(href="#").tapes__link.btn--reverse.tapes__link--aviation Подробнее
        .tapes__desc
            span.tapes__info Особопрочная клейкая лента со слабой степенью адгезии
        .tapes__desc
            span.tapes__info Особопрочная клейкая лента с высоким уровнем адгезии, глянцевая                
    .tapes__wrap 
        span.tapes__num 03
        .tapes__image.tapes__image--industrial
            img(src="assets/img/pics/tapes/3.png", alt="Для промышленной деятельности").tapes__picture
        .container.container--column
            .tapes__container.tapes__container--industrial
                h3.tapes__title.title Для промышленной деятельности и производственных процессов
                ul.tapes__list
                    li.tapes__item Для производства стекол
                    li.tapes__item Фасовки пищевой продукции
                    li.tapes__item При производстве электроники
                    li.tapes__item Электроизоляция
                    li.tapes__item Текстильная промышленность
                a(href="#").tapes__link.btn--reverse Подробнее
        .tapes__desc
            span.tapes__info Армированная лента для крепкого сцепления с поверхностью                              
