section.tape-types
    .container.container--column
        h2.tape-types__heading.heading Классификация клейких лент по области применения
        .tape-types__wrap 
            span.tape-types__num 01
            .tape-types__image.tape-types__image--typography
                img(src="assets/img/pics/tapes/1.png", alt="Для ЦБП и типографий")
            h3.tape-types__title.title.tape-types__title--adjusted Для ЦБП и типографий
            p.tape-types__text К таким лентам относятся узкоспециализированные ленты, которые используются для фиксации растений в сельском хозяйстве, при холодной сварке и сложных технологических процессах, когда требуется избавиться от клейкой ленты быстро и это возможно сделать при промывшке изделия или под действием внешних факторов.
            a(href="#").tape-types__link.btn--reverse Подробнее
            .tape-types__desc
                span.tape-types__info Крафтовая клейкая лента для склеивания печатных листов на производстве
        .tape-types__wrap 
            span.tape-types__num 02
            .tape-types__image.tape-types__image--aviation
                img(src="assets/img/pics/tapes/2.png", alt="Для авиационной промышленности")
            h3.tape-types__title.title Для авиационной промышленности
            p.tape-types__text К таким лентам относятся узкоспециализированные ленты, которые используются для фиксации печатных листов в типографиях, склеивании поставочных коробов и фиксации сложных элементов на производственном потоке. Такие ленты обладают любой степень сцепления и бывают не только двусторонними, но и водорасстворимыми, не теряя при этом своей прочности.
            a(href="#").tape-types__link.btn--reverse Подробнее
            .tape-types__desc
                span.tape-types__info Особопрочная клейкая лента со слабой степенью адгезии
            .tape-types__desc
                span.tape-types__info Особопрочная клейкая лента с высоким уровнем адгезии, глянцевая                
        .tape-types__wrap 
            span.tape-types__num 03
            .tape-types__image.tape-types__image--industrial
                img(src="assets/img/pics/tapes/3.png", alt="Для промышленной деятельности")
            h3.tape-types__title.title Для промышленной деятельности и производственных процессов
            ul.tape-types__list
                li.tape-types__item Для производства стекол
                li.tape-types__item Фасовки пищевой продукции
                li.tape-types__item При производстве электроники
                li.tape-types__item Электроизоляция
                li.tape-types__item Текстильная промышленность
            a(href="#").tape-types__link.btn--reverse Подробнее
            .tape-types__desc
                span.tape-types__info Армированная лента для крепкого сцепления с поверхностью                              
                