// vars

// colours

$text-colour: black;

// fonts

$text-font: 'Roboto-light', sans-serif;
$title-font: 'Rubik-Regular', sans-serif;

// adjustments

@import 'mixins.scss';
@import 'adjustments.scss';


// sections

@import 'sections/header.scss';
@import 'sections/logo.scss';
@import 'sections/main.scss';
@import 'sections/info.scss';
@import 'sections/tapes.scss';
@import 'sections/contacts.scss';
@import 'sections/quality.scss';
@import 'sections/map.scss';
@import 'sections/news.scss';
@import 'sections/article.scss';
@import 'sections/footer.scss';


// fonts

@import 'fonts.scss';



// modificators



