.desc {
    @include flex(column);
    align-items: flex-start;
    position: relative;
    @include xs {
        width: 60%;
        max-width: 330px;
    }
    &__info {
        font-size: 14px;
        line-height: 1.29;
        color: $text-colour;
        margin-bottom: 20px;
    }
    &__list {
        padding-left:20px;
        margin-bottom: 30px;
            li + li {
                margin-top: 10px;
            }
    }
    &__item {
        display: block;
        position: relative;
        // margin-bottom: 10px;
        color: $text-colour;
        font-size: 14px;
            // &:last-child {
            //     margin-bottom: 0;
            // }
            &:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                left: -15px;
                top: 6px;
                border-radius: 50%;
                background-color: #02052c;
            }
    }
    &__options {
        @include flex(column);
        align-items: center;
        justify-content: center;
    }
    &__btn {
        margin-bottom: 35px;
    }
    &__link {
        font-size: 16px;
        color: $text-colour;
    }
}