.header {
    position: absolute;
    width: 100%;
    padding: 15px 0;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 60px;
    &__wrapper {
        @include flex(row);
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__nav, &__lang {
        display: none;
    }
    &__info {
        flex-grow: 1;
        @include flex(row);
    }
    &__lang {
        font-size: 16px;
        a + a {
            margin-left: 5px;
        }
        @include xs {
            @include flex(row);
            justify-content: center;
            align-items: center;
        }
    }
    &__logo {
        width: 15%;
        @include xs {
            width: 33%;
        }
    }
    &__credentials {
        @include flex(column);
        font-family: $text-font;
        font-size: 16px;
        @include xs {
            margin-right: 60px;
        }
    }
    &__phone {
        color: $text-colour;
    }
    &__address {
        opacity: 0.5;
        font-size: 10px;
        color: $text-colour;
    }
    &__menu {
        @include flex(column);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        div + div {
            margin-top: 5px;
        }
    }
}

.icon {
    width: 20px;
    height: 2px;
    background-color: black;
}