.info {
    position: relative;
    padding-top: 40px;
    padding-bottom: 65px;
    @include xs {
        padding-top: 70px;
    }
        &__text {
            margin-bottom: 30px;
            font-size: 16px;
            color: $text-colour;
            @include xs {
                font-size: 18px;
            }
        }
        &__wrap {
            position: relative;
            padding-left: 9px;
            @include xs {
                padding-left: 28px;
            }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #f57323;
                    @include xs {
                        width: 8px;
                    }
                }
        }
        &__title {
            font-family: $title-font;
            font-weight: normal;
            font-size: 18px;
            margin: 0 0 10px 0;
            @include xs {
                font-size: 36px;
            }
        }
        &__desc {
            display: none;
        }
        &__warning {
            font-size: 14px;
            color: $text-colour;
            @include xs {
                font-size: 18px;
            }
        }
}