.info {
    position: relative;
    padding-top: 40px;
    padding-bottom: 65px;
    background-color: #fff;
    @include xs {
        padding-top: 70px;

    }
    @include s {
        padding-bottom: 140px;
    }
    @include sm {
        z-index: 2;
        background-color: transparent;
    }
    @include m {
        padding-bottom: 240px;
    }
    @include l {
        padding-top: 85px;
    }
    @include xl {
        padding-top: 135px;
    }
        &__container {
            @include l {
                padding-left: 135px;
                padding-right: 135px;
            }
            @include xl {
                padding-left: 115px;
                padding-right: 115px;
            }
        }
        &__text {
            margin-bottom: 30px;
            font-size: 16px;
            color: $text-colour;
            width: 70%;
            min-width: 280px;
            @include xs {
                font-size: 18px;
            }
            @include s {
                width: 100%;
            }
            @include sm {
                max-width: 510px;
            }
            @include m {
                max-width: 455px;
            }
            @include l {
                font-size: 20px;
                margin-bottom: 40px;
                max-width: 615px;
            }
        }
        &__wrap {
            position: relative;
            padding-left: 9px;
            width: 70%;
            min-width: 280px;
            @include xs {
                padding-left: 28px;
            }
            @include sm {
                min-width: 760px;
            }
            @include m {
                padding-left: 0;
            }
            @include l {
                padding: 0;
            }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #f57323;
                    @include xs {
                        width: 8px;
                    }
                    @include m {
                        left: -20px;
                    }
                    @include l {
                        left: -25px;
                    }
                }
        }
        &__title {
            font-family: $title-font;
            font-weight: normal;
            font-size: 18px;
            margin: 0 0 10px 0;
            @include xs {
                font-size: 36px;
            }
            @include s {
                margin-bottom: 0;
            }
        }
        &__warning {
            font-size: 14px;
            color: $text-colour;
            @include xs {
                font-size: 18px;
                line-height: 1.11;
            }
            @include m {
                max-width: 480px;
            }
        }
}