.info {
    position: relative;
    padding-top: 40px;
    padding-bottom: 65px;
    z-index: 1;
    @include xs {
        padding-top: 70px;
    }
    @include s {
        padding-bottom: 140px;
    }
        &__text {
            margin-bottom: 30px;
            font-size: 16px;
            color: $text-colour;
            width: 70%;
            min-width: 280px;
            @include xs {
                font-size: 18px;
            }
            @include s {
                width: 100%;
            }
            @include sm {
                max-width: 510px;
            }
        }
        &__wrap {
            position: relative;
            padding-left: 9px;
            width: 70%;
            min-width: 280px;
            @include xs {
                padding-left: 28px;
            }
            @include sm {
                min-width: 760px;
            }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #f57323;
                    @include xs {
                        width: 8px;
                    }
                }
        }
        &__title {
            font-family: $title-font;
            font-weight: normal;
            font-size: 18px;
            margin: 0 0 10px 0;
            @include xs {
                font-size: 36px;
            }
            @include s {
                margin-bottom: 0;
            }
        }
        &__desc {
            display: none;
        }
        &__warning {
            font-size: 14px;
            color: $text-colour;
            @include xs {
                font-size: 18px;
                line-height: 1.11;
            }
        }
}