.map {
    position: relative;
    min-height: 400px;
        &__heading {
            font-family: $title-font;
            font-size: 20px;
            margin-bottom: 15px;
            color: $text-colour;
            font-weight: normal;
        }
        &__places {
            display: none;
        }
        &__trigger {
            font-size: 16px;
            color: $text-colour;
            border-bottom: 1px dashed rgba(61, 43, 170, 0.3)
        }
}