.news {
    position: relative;
    padding-bottom: 50px;
    &__container {
        overflow: visible;
    }
    &__heading {
        font-family: $title-font;
        font-size: 20px;
        margin-bottom: 15px;
        color: $text-colour;
        font-weight: normal;
        @include xs {
            max-width: 200px;
            margin: 0;
        }
        @include s {
            font-size: 30px;
            line-height: 1.2;
            max-width: 290px;
        }
        @include m {
            max-width: 530px;
            margin-right: 280px;
        }
        @include xl {
            font-size: 36px;
            max-width: 640px;
            margin-bottom: 40px;
        }
    }
    &__button {
        max-width: 260px;
        margin-bottom: 20px;
        width: initial;
        @include xs {
            margin: 0;
        }
    }
    &__list {
        width: 100%;
        overflow-x: auto;
        @include flex(row);
        padding-bottom: 20px;
        @include l {
            padding-bottom: 60px;
        }
            li + li {
                margin-left: 15px;
                @include m {
                    
                    margin-left: 20px;
                }
                @include l {
                    margin-left: 30px;
                }
            }
    }
    &__item {
        transition: all 0.3s;
        &:hover {
            box-shadow: 20px 40px 55px 0 rgba(0, 0, 0, 0.2);
        }
    }
    &__link {
        display: block;
    }
    &__wrap {
        @include xs {
            @include flex(row);
            justify-content: space-between;
            margin-bottom: 30px;
            align-items: center;
            @include m {
                align-items: baseline;
            }
            @include m {
                justify-content: flex-start;
            }
        }
    }
}