.tapes {
    position: relative;
    overflow: hidden;
    @include xs {
        background-image: url(../img/pics/yellow.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; // white bg
        &::before {
            content: "";
            height: 630px;
            position: absolute;
            background-color: #fff;
            top: -80px;
            left: -80px;
            width: 140%;
            transform: rotate(17deg);
                @include s {
                    height: 900px;
                    top: -140px;
                    left: -80px;
                    width: 140%;
                    transform: rotate(21deg);
                }
        }
        &::after {
            content: "";
            height: 630px;
            position: absolute;
            background-color: #fff;
            bottom: -100px;
            left: -80px;
            width: 140%;
            transform: rotate(-17deg);
                @include s {
                    height: 890px;
                    bottom: -100px;
                    left: -100px;
                    width: 140%;
                    -ms-transform: rotate(-17deg);
                    transform: rotate(-21deg);
                }
        }
    }
    &__heading {
        margin-bottom: 45px;
        width: 70%;
        min-width: 280px;
        z-index: 1;
        @include xs {
            max-width: 400px;
        }
        @include s {
            font-size: 30px;
            max-width: 100%;
            margin-left: 30%;
        }
    }
    &__num {
        display: none;
    }
    &__wrap {
        position: relative;
        margin-bottom: 30px;
        @include flex(column);
        @include xs {
            @include flex(row);
            justify-content: space-around;
            align-items: flex-start;
        }
    }
    &__container {
        width: 70%;
        min-width: 280px;
        z-index: 1;
        @include xs {
            width: auto;
        }
    }
    &__image {
        width: 100%;
        position: relative;
        z-index: 1;
        @include xs {
            width: 42%;
        }
        &--typography {
            img {
                height: 490px;
                width: auto;
                transform: translateX(-40px);
                @include xs {
                    height: 510px;
                    transform: translateX(-170px);
                }
                @include s {
                    height: 900px;
                    transform: translate(-380px, -135px);
                }
            }
        }
        &--aviation {
            @include xs {
                order: 1;
            }
            img {
                height: 390px;
                @include xs {
                    height: 460px;
                    transform: translateX(40px);
                }
                @include s {
                    height: 900px;
                    transform: translate(15px, -170px);
                }
            }
        }
        &--industrial {
            img {
                height: 350px;
                transform: translateX(-200px);
                @include xs {
                    height: 460px;
                    transform: translateX(-440px);
                }
                @include s {
                    height: 660px;

                    transform: translateX(-650px);
                }
            }
        }
        line-height: 0;
    }
    &__title {
        @include xs {
            max-width: 280px;
        }
        @include s {
            font-size: 21px;
            max-width: 705px;
        }
        &--adjusted {
            margin-top: -110px;
            @include xs {
                margin-top: 40px;
            }
        }
    }
    &__link {
        margin-bottom: 90px;
        &--aviation {
            border-color: black;
            color: black;
        }
        @include xs {
            margin-bottom: 0;
        }
    }
    &__text {
        font-size: 14px;
        color: $text-colour;
        margin-bottom: 20px;
        @include xs {
            max-width: 390px;
        }
        @include s {
            font-size: 16px;
        }
    }
    &__info {
        display: none;
    }
    &__list {
        padding-left: 20px;
        margin-bottom: 40px;
        li+li {
            margin-top: 10px;
        }
    }
    &__item {
        position: relative;
        color: $text-colour;
        font-size: 14px;
        @include s {
            font-size: 16px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            left: -15px;
            top: 6px;
            border-radius: 50%;
            background-color: #3d2baa;
        }
    }
}