.test {
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    &::before {
        content: "";
        height: 800px;
        position: absolute;
        background-color: #fff;
        top: -375px;
        left: 0;
        width: 160%;
        transform-origin: 0 0;
        transform: rotate(21deg);
        @include s {
            height: 1000px;
            top: -475px;
            left: 0;
            width: 160%;
            transform-origin: 0 0;
            transform: rotate(21deg);
        }
        @include sm {
            left: 0;
            top: -555px;
        }
        @include m {
            top: -715px;
            height: 1300px;
        }
        @include xl {
            top: -950px;
            height: 1500px;
        }
    }
    &::after {
        content: "";
        height: 800px;
        position: absolute;
        background-color: #fff;
        bottom: -85px;
        left: 0;
        width: 160%;
        transform-origin: 100% 100%;
        transform: rotate(-21deg);
        @include xs {
            bottom: -220px;
            transform: rotate(-17deg);
        }
        @include s {
            bottom: -360px;
            left: 0;
            transform: rotate(-14deg);
        }
        @include sm {
            bottom: -10px;
        }
        @include m {
            bottom: -115px;
            transform: rotate(-10deg);
        }
        @include xl {
            bottom: 130px;
        }
    }
}

.tapes {
    position: relative;
    @include xs {
        background-image: url(../img/pics/yellow.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    &__heading {
        margin-bottom: 45px;
        width: 70%;
        min-width: 280px;
        z-index: 1;
        @include xs {
            max-width: 400px;
        }
        @include s {
            font-size: 30px;
            max-width: 100%;
            margin-left: 28%;
        }
        @include sm {
            max-width: 480px;
            margin-left: 430px;
            margin-bottom: 20px;
            font-size: 30px;
        }
        @include m {
            font-size: 36px;
            max-width: 590px;
            margin-left: 565px;
            margin-bottom: 40px;
        }
        @include l {
            margin-top: 110px;
            margin-left: 730px;
        }
        @include xl {
            font-size: 48px;
            max-width: 710px;
            margin-top: 115px;
            margin-left: 690px;
        }
    }
    &__num-wrap {
        position: relative;
    }
    &__num {
        display: none;
        @include m {
            display: inline-block;
            position: absolute;
            left: -50px;
            top: -110px;
            font-family: Georgia;
            color: rgba(61, 43, 170, .1);
            font-size: 250px;
            &--adjusted {
                left: -70px;
                top: -190px;
            }
        }
    }
    &__wrap {
        position: relative;
        margin-bottom: 30px;
        @include flex(column);
        @include xs {
            @include flex(row);
            align-items: flex-start;
        }
        @include xs {
            &--typography {
                margin-bottom: 255px;
            }
            &--aviation {
                margin-bottom: 210px;
            }
            &--industrial {
                margin-bottom: 170px;
            }
        }
        @include s {
            margin-bottom: 0;
            &--typography {
                margin-bottom: 535px;
            }
            &--aviation {
                margin-bottom: 480px;
            }
            &--industrial {
                margin-bottom: 230px;
            }
        }
        @include sm {
            &--typography {
                margin-bottom: 580px;
            }
            &--aviation {
                margin-bottom: 460px;
            }
            &--industrial {
                margin-bottom: 285px;
            }
        }
        @include m {
            &--typography {
                margin-bottom: 860px;
            }
            &--aviation {
                margin-bottom: 910px;
            }
            &--industrial {
                margin-bottom: 285px;
            }
        }
        @include l {
            &--typography {
                margin-bottom: 780px;
            }
            &--aviation {
                margin-bottom: 865px;
            }
            &--industrial {
                margin-bottom: 285px;
            }
        }
        @include xl {
            &--typography {
                margin-bottom: 835px;
            }
            &--aviation {
                margin-bottom: 870px;
            }
            &--industrial {
                margin-bottom: 245px;
            }
        }
    }
    &__container {
        min-width: 280px;
        z-index: 1;
        @include xs {
            max-width: 280px; // padding-right: 40px;
            &--typography {
                margin-left: 230px; // margin-bottom: 245px;
            }
            &--industrial {
                margin-left: 230px; // margin-bottom: 165px;
            }
            &--aviation {
                margin-left: 45px; // margin-bottom: 175px;
            }
            @include s {
                max-width: 390px;
                &--typography {
                    margin-top: 10px;
                    margin-left: 295px; // margin-bottom: 400px;
                }
                &--aviation {
                    margin-left: 5px; // margin-bottom: 245px;
                }
                &--industrial {
                    margin-left: 290px; // margin-bottom: 95px;
                }
            }
            @include sm {
                max-width: 470px;
                &--typography {
                    margin-left: 430px; // margin-bottom: 450px;
                }
                &--aviation {
                    // margin-bottom: 260px;
                }
                &--industrial {
                    margin-left: 420px; // margin-bottom: 155px;
                }
            }
            @include m {
                max-width: 625px;
                &--typography {
                    margin-left: 565px; // margin-bottom: 605px;
                }
                &--aviation {
                    margin-left: 50px; // margin-bottom: 555px;
                }
                &--industrial {
                    margin-left: 565px;
                }
            }
            @include l {
                &--typography {
                    margin-top: 65px;
                    margin-left: 730px; // margin-bottom: 505px;
                }
                &--aviation {
                    margin-left: 140px;
                }
                &--industrial {
                    margin-left: 855px;
                }
            }
            @include xl {
                &--typography {
                    margin-top: 5px;
                    margin-left: 685px;
                }
                &--aviation {
                    margin-left: 295px;
                }
                &--industrial {
                    margin-left: 915px;
                }
            }
        }
    }
    &__image {
        overflow: hidden;
        width: 100%;
        position: relative; // overflow: hidden;
        z-index: 1;
        pointer-events: none;
        @include xs {
            // width: 42%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &--typography {
            @include s {
                top: -145px;
            }
            @include sm {
                top: -215px;
            }
            @include m {
                top: -365px;
            }
            @include l {
                top: -455px;
            }
            @include xl {
                top: -430px;
            }
            img {
                height: 490px;
                width: auto;
                transform: translateX(-40px);
                @include xs {
                    height: 600px;
                    transform: translateX(-170px);
                }
                @include s {
                    height: 900px;
                    transform: translateX(-360px);
                }
                @include sm {
                    height: 950px;
                    transform: translateX(-275px);
                }
                @include m {
                    height: 1390px;
                    transform: translateX(-475px);
                }
                @include xl {
                    transform: translateX(-285px);
                }
            }
        }
        &--aviation {
            @include xs {
                order: 1;
            }
            @include s {
                top: -160px;
            }
            @include sm {
                top: -150px;
            }
            @include m {
                top: -305px;
            }
            @include l {
                top: -315px;
            }
            img {
                height: 390px;
                @include xs {
                    float: right;
                    height: 535px;
                    transform: translateX(135px);
                }
                @include s {
                    height: 900px;
                    transform: translateX(325px);
                }
                @include sm {
                    height: 815px;
                    transform: translateX(80px);
                }
                @include m {
                    height: 1250px;
                    transform: translateX(475px);
                }
                @include l {
                    height: 1280px;
                    transform: translateX(250px);
                }
                @include xl {
                    transform: translateX(125px);
                }
            }
        }
        &--industrial {
            @include xs {
                top: -60px;
            }
            @include s {
                top: -120px;
            }
            @include sm {
                top: -155px;
            }
            @include m {
                top: -335px;
            }
            @include xl {
                top: -365px;
            }
            img {
                height: 350px;
                transform: translateX(-200px);
                @include xs {
                    height: 490px;
                    transform: translateX(-440px);
                }
                @include s {
                    height: 660px;
                    transform: translateX(-615px);
                }
                @include sm {
                    height: 760px;
                    transform: translateX(-604px);
                }
                @include m {
                    height: 1225px;
                    transform: translateX(-1130px);
                }
                @include l {
                    transform: translateX(-855px);
                }
                @include xl {
                    transform: translateX(-745px);
                }
            }
        }
        line-height: 0;
    }
    &__title {
        @include xs {
            max-width: 280px;
        }
        @include s {
            font-size: 21px;
            line-height: 1.14;
            max-width: 705px;
            margin-bottom: 20px;
        }
        @include sm {
            font-size: 24px;
        }
        &--adjusted {
            margin-top: -110px;
            @include xs {
                margin-top: 60px;
            }
        }
        @include m {
            font-size: 36px;
        }
    }
    &__link {
        margin-bottom: 90px;
        max-width: 270px;
        &--aviation {
            border-color: black;
            color: black;
        }
        @include xs {
            margin-bottom: 0;
        }
    }
    &__text {
        font-size: 14px;
        color: $text-colour;
        margin-bottom: 30px;
        @include s {
            font-size: 16px;
            line-height: 1.25;
        }
        @include sm {
            margin-bottom: 50px;
        }
    }
    &__description {
        display: none;
        position: absolute;
        @include s {
            display: block;
            font-size: 14px;
            &--typography {
                bottom: 290px;
                left: 325px;
                max-width: 275px;
                &:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 407px;
                    left: -130px;
                    top: -5px;
                    background-color: rgba(2, 5, 44, 0.5);
                    @include m {
                        width: 545px;
                        left: -270px;
                    }
                }
                @include sm {
                    bottom: 285px;
                    left: 470px;
                }
                @include m {
                    bottom: 445px;
                    left: 725px;
                }
                @include l {
                    bottom: 290px;
                    left: 895px;
                }
                @include xl {
                    bottom: 315px;
                    left: 1030px;
                }
            }
            &--aviation {
                right: 475px;
                bottom: 225px;
                max-width: 255px;
                span {
                    &:before {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 660px;
                        top: -5px;
                        background-color: rgba(2, 5, 44, 0.5);
                        @include m {
                            width: 480px;
                        }
                    }
                    &:last-child {
                        &:before {
                            width: 565px;
                            @include sm {
                                width: 565px;
                            }
                            @include m {
                                width: 400px;
                            }
                        }
                    }
                }
                @include sm {
                    right: 730px;
                    bottom: 215px;
                }
                @include m {
                    right: 455px;
                    bottom: 375px;
                }
                @include l {
                    right: 720px;
                    bottom: 385px;
                }
                @include xl {
                    right: 825px;
                }
            }
            &--industrial {
                bottom: 125px;
                left: 320px;
                max-width: 275px;
                @include sm {
                    bottom: 160px;
                    left: 490px;
                }
                @include m {
                    bottom: 415px;
                    left: 650px;
                }
                @include l {
                    bottom: 395px;
                    left: 925px;
                }
                @include xl {
                    bottom: 385px;
                    left: 1030px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 390px;
                    left: -160px;
                    top: -5px;
                    background-color: rgba(2, 5, 44, 0.5);
                    @include sm {
                        width: 420px;
                        left: -190px;
                    }
                }
            }
        }
    }
    &__info {
        position: relative;
        display: inline-block;
        color: rgba(2, 5, 44, 0.5);
        line-height: 1.14;
        &--aviation {
            margin-bottom: 40px;
            @include m {
                margin-bottom: 90px;
            }
        }
    }
    &__list {
        padding-left: 20px;
        margin-bottom: 40px;
        li+li {
            margin-top: 10px;
        }
        @include m {
            max-height: 100px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__item {
        position: relative;
        color: $text-colour;
        font-size: 14px;
        @include s {
            font-size: 16px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            left: -15px;
            top: 6px;
            border-radius: 50%;
            background-color: #3d2baa;
        }
    }
}