extends ../_template
block content
    include ../sections/header.pug
    include ../sections/main.pug
    include ../sections/tapes.pug
    include ../sections/contacts.pug
    include ../sections/quality.pug
    include ../sections/map.pug
    include ../sections/news.pug
    include ../sections/footer.pug