extends ../_template
block content
    include ../sections/header.pug
    include ../sections/desc.pug
    include ../sections/info.pug
    include ../sections/tapes.pug
    include ../sections/contacts.pug
    include ../sections/quality.pug
    include ../sections/map.pug
    include ../sections/news.pug
    include ../sections/footer.pug